Para conectarnos a `MySQL`, necesitaremos 2 librerías de Python
1. `sqlalchemy` : para instalar ejecutamos `pip install sqlalchemy`
2. `mysql-python-conector`: para instalar ejecutamos `pip installmysql-connector-python`

In [1]:
#!pip install sqlalchemy
#!pip install mysql-connector-python
#!pip install pandas

importamos las librerías

In [1]:
import sqlalchemy as db

crearemos la clase ConnectionMySQL de conexión a MySQL

In [2]:
# este es el fichero para conectarnos a MySQL
class ConexionMySQL():
    def __init__(self, bd_servidor,bd_nombre,bd_usuario,bd_contrasenia):
        self.bd_servidor=bd_servidor
        self.bd_nombre=bd_nombre
        self.bd_usuario=bd_usuario
        self.bd_contrasenia=bd_contrasenia

    ## Función de conexión a MySQL
    def conectarMySQL(self):
        engine = db.create_engine(f"mysql+mysqlconnector://{self.bd_usuario}:{self.bd_contrasenia}@{self.bd_servidor}:3306/{self.bd_nombre}")
        conn=engine.connect()
        return conn

import pandas as pd

In [3]:
import pandas as pd

/var/folders/gd/2hyknd_n0db256k8n9_snpww0000gn/T/ipykernel_978/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Cargar datos a dimMovie

Crearemos el objeto para conectarnos a la base de datos `db_movies_netflix_transact`, proporcionando nuestras credenciales.

In [4]:
#ConexionMySQL
## creando el objeto de la clase ConnetionMysql
db_movies_netflix_transact= ConexionMySQL(
                            "localhost",            ## Servidor
                            "db_movies_netflix_transact",   ## base de datos
                            "root",                 ## usuario
                            "123456789"                 ## contraseña
                            )

## llamar a la funcion de conexión a la base de datos
conn_movies_netflix_transact=db_movies_netflix_transact.conectarMySQL()

Extraeremos datos de la base de datos transaccional sobre las películas

In [105]:
"""
//query utilizado para extraer datos de las peliculas de la base transact


USE db_movies_netflix_transact;
SELECT movie.movieID as movieID, movie.movieTitle as title, movie.releaseDate as releaseDate, gender.name as gender , person.name as participantName, participant.participantRole as roleparticipant FROM movie 
INNER JOIN participant 
ON movie.movieID=participant.movieID
INNER JOIN person
ON person.personID = participant.personID
INNER JOIN movie_gender 
ON movie.movieID = movie_gender.movieID
INNER JOIN gender 
ON movie_gender.genderID = gender.genderID

"""

'\n//query utilizado para extraer datos de las peliculas de la base transact\n\n\nUSE db_movies_netflix_transact;\nSELECT movie.movieID as movieID, movie.movieTitle as title, movie.releaseDate as releaseDate, gender.name as gender , person.name as participantName, participant.participantRole as roleparticipant FROM movie \nINNER JOIN participant \nON movie.movieID=participant.movieID\nINNER JOIN person\nON person.personID = participant.personID\nINNER JOIN movie_gender \nON movie.movieID = movie_gender.movieID\nINNER JOIN gender \nON movie_gender.genderID = gender.genderID\n\n'

In [5]:
movies_data=pd.read_sql('SELECT movie.movieID as movieID, movie.movieTitle as title, movie.releaseDate as releaseDate, gender.name as gender , person.name as participantName, participant.participantRole as roleparticipant FROM movie  INNER JOIN participant  ON movie.movieID=participant.movieID INNER JOIN person ON person.personID = participant.personID INNER JOIN movie_gender  ON movie.movieID = movie_gender.movieID INNER JOIN gender  ON movie_gender.genderID = gender.genderID', con=conn_movies_netflix_transact) 
movies_data["movieID"]=movies_data["movieID"].astype('int')
movies_data

,movieID,title,releaseDate,gender,participantName,roleparticipant
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director

Este dato lo unimos con el award de la pelicula, porque son los premios que ganaron

In [7]:
movies_award=pd.read_csv("Awards_movie.csv")
movies_award["movieID"]=movies_award["movieID"].astype('int')
movies_award.rename(columns={"Aware":"Award"}, inplace=True)
movies_award

    movieID  IdAward   Award
0  80210920        0   Oscar
1  81157374        1  Grammy
2  80192187        2   Oscar

In [8]:
movie_data=pd.merge(movies_data,movies_award, left_on="movieID", right_on="movieID")
movie_data

,movieID,title,releaseDate,gender,participantName,roleparticipant,IdAward,Award
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,2,Oscar
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,0,Oscar
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,1,Grammy

Insertamos estos valores en la tabla movies del datawarehouse

In [9]:
from sqlalchemy import create_engine, MetaData, Table, Date
from sqlalchemy.orm import sessionmaker
from datetime import date

# Replace these values with your actual database connection details
DATABASE_URL = "mysql+mysqlconnector://root:123456789@localhost/dw_netflix"

engine = create_engine(DATABASE_URL)

metadata = MetaData()

In [10]:


dimMovie= Table('dimMovie', metadata, autoload_with=engine)

# Create a connection to the database
conn = engine.connect()



for i,movie in movie_data.iterrows():
    # Sample data to insert
    data_to_insert = {
        "movieID": movie["movieID"],
        "title": movie["title"],
        "releaseMovie": movie["releaseDate"],
        "gender": movie["gender"],
        "participantName": movie["roleparticipant"],
        "roleparticipant": movie["roleparticipant"],
        "awardMovie": movie["Award"],

    }

    try:
        # Insert data into the table
        ins = dimMovie.insert().values(data_to_insert)
        conn.execute(ins)
        print(conn)

        # Commit the transaction
        conn.commit()
        print("se envió el commit a la base  de datos")

    except Exception as e:
        # Handle exceptions
        print(f"Error: {e}")
        # Rollback the transactio

# Close the connection
conn.close()

<sqlalchemy.engine.base.Connection object at 0x144d2b3d0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x144d2b3d0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x144d2b3d0>
se envió el commit a la base  de datos

## Insertamos valores para dimUser, extrayendo los datos del csv de usuarios

In [11]:
users=pd.read_csv("users.csv")
users

      idUser   username   country
0   12736164        NaN       NaN
1   12373124        NaN       NaN
2   12561661        NaN       NaN
3   13613777        NaN       NaN
4   13416613        NaN       NaN
5   31613613        NaN       NaN
6   13613717        NaN       NaN
7   71363161        NaN       NaN
8   13713415        NaN       NaN
9   13613413        NaN       NaN
10  36136341        NaN       NaN
11  13613613        NaN       NaN
12  31613413        NaN       NaN
13  SFASF155        NaN       NaN
14  1251241G        NaN       NaN
15  12512125        NaN       NaN

Para los usuarios solo necesitaremos los Ids

Insertamos al datawarehouse

In [12]:
dimUser= Table('dimUser', metadata, autoload_with=engine)

# Create a connection to the database
conn = engine.connect()



for i,user in users.iterrows():
    # Sample data to insert
    data_to_insert = {
        "userID": user["idUser"],
    }

    try:
        # Insert data into the table
        ins = dimUser.insert().values(data_to_insert)
        conn.execute(ins)
        print(conn)

        # Commit the transaction
        conn.commit()
        print("se envió el commit a la base  de datos")

    except Exception as e:
        # Handle exceptions
        print(f"Error: {e}")
        # Rollback the transactio

# Close the connection
conn.close()

<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos
Error: (mysql.connector.errors.DatabaseError) 1366 (HY000): Incorrect integer value: 'SFASF155' for column 'userID' at row 1
[SQL: INSERT INTO `dimUser` (`userID`) VALUES (%(userID)s)]
[parameters: {'userID': 'SFASF155'}]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
Error: (mysql.connector.errors.DatabaseError) 1265 (01000): Data truncated for column 'userID' at row 1
[SQL: INSERT INTO `dimUser` (`userID`) VALUES (%(userID)s)]
[parameters: {'userID': '1251241G'}]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
<sqlalchemy.engine.base.Connection object at 0x1455f4e10>
se envió el commit a la base  de datos

## Insertar datos a la tabla de Hechos

Para ello vamos a crear nuestra estructura en base a la base de datos ratings.csv.

- recordar que necesitamos 4 columnas:
1. idUser	
2. movieID	
3. rating	
4. timestamp

Vamos a generar aleatoriamente los datos la vista de un usuario sobre las películas

In [13]:
users_id=users["idUser"]
movies_id=movies_data["movieID"]

In [14]:
watchs_data=pd.merge(users_id,movies_id, how="cross")

In [15]:
import random
from datetime import datetime, timedelta
import random

def gen_rating():
    # Generar un número aleatorio entre 0 y 5 con 1 solo decimal
    numero_aleatorio = round(random.uniform(0, 5), 1)
    # Mostrar el número aleatorio
    return numero_aleatorio

def gen_timestamp():
    # Generar un timestamp aleatorio dentro de un rango específico
    start_date = datetime(2024, 1, 15)
    end_date = datetime(2024, 2, 12)

    # Calcular un valor aleatorio entre start_date y end_date
    random_date = start_date + timedelta(seconds=random.randint(0, int((end_date - start_date).total_seconds())))

    # Mostrar el timestamp aleatorio
    return random_date

In [16]:
watchs_data["rating"]=watchs_data["movieID"].apply(lambda x: gen_rating())
watchs_data["timestamp"]=watchs_data["idUser"].apply(lambda x: gen_timestamp())

In [17]:
watchs_data

      idUser   movieID  rating           timestamp
0   12736164  80192187     2.6 2024-01-15 18:09:15
1   12736164  80210920     1.4 2024-01-27 19:16:36
2   12736164  81157374     4.0 2024-01-26 00:30:06
3   12373124  80192187     4.5 2024-02-01 13:55:34
4   12373124  80210920     4.7 2024-02-07 16:54:49
5   12373124  81157374     3.5 2024-01-20 11:46:32
6   12561661  80192187     4.0 2024-01-15 05:49:51
7   12561661  80210920     4.3 2024-01-15 12:59:39
8   12561661  81157374     1.2 2024-02-06 09:51:02
9   13613777  80192187     4.2 2024-01-26 09:50:06
10  13613777  80210920     0.9 2024-01-17 07:46:15
11  13613777  81157374     2.4 2024-02-04 20:09:05
12  13416613  80192187     4.9 2024-01-23 04:02:30
13  13416613  80210920     1.6 2024-01-30 17:46:20
14  13416613  81157374     2.1 2024-02-08 13:11:31
15  31613613  80192187     4.9 2024-01-29 11:34:31
16  31613613  80210920     4.9 2024-01-27 00:25:21
17  31613613  81157374     1.2 2024-01-23 20:27:07
18  13613717  80192187     0.6 2024-01-28 05:52:09
19  13613717  80210920     3.4 2024-02-05 22:36:56
20  13613717  81157374     0.8 2024-02-08 05:23:37
21  71363161  80192187     3.4 2024-02-05 01:24:36
22  71363161  80210920     4.7 2024-02-06 08:11:24
23  71363161  81157374     3.8 2024-01-27 18:46:46
24  13713415  80192187     4.1 2024-02-08 07:49:27
25  13713415  80210920     4.7 2024-01-29 18:38:02
26  13713415  81157374     2.9 2024-01-21 08:37:09
27  13613413  80192187     4.3 2024-02-09 15:58:11
28  13613413  80210920     2.2 2024-01-29 16:27:41
29  13613413  81157374     4.0 2024-01-21 00:25:07
30  36136341  80192187     1.2 2024-01-17 19:13:44
31  36136341  80210920     0.7 2024-02-07 14:15:54
32  36136341  81157374     4.8 2024-01-29 17:01:02
33  13613613  80192187     1.8 2024-01-20 23:53:42
34  13613613  80210920     3.8 2024-01-28 16:05:56
35  13613613  81157374     4.4 2024-01-29 18:15:49
36  31613413  80192187     3.3 2024-01-19 11:48:04
37  31613413  80210920     4.2 2024-02-08 04:47:00
38  31613413  81157374     2.3 2024-01-18 21:47:21
39  SFASF155  80192187     0.3 2024-01-26 16:18:36
40  SFASF155  80210920     2.9 2024-01-23 19:21:08
41  SFASF155  81157374     1.3 2024-01-16 02:50:11
42  1251241G  80192187     1.8 2024-01-18 02:09:10
43  1251241G  80210920     0.7 2024-02-05 08:57:33
44  1251241G  81157374     2.7 2024-02-11 11:11:23
45  12512125  80192187     3.4 2024-01-17 12:52:47
46  12512125  80210920     2.9 2024-02-08 02:14:51
47  12512125  81157374     4.3 2024-01-29 20:02:47

Cargar los datos a la tabla de hechos

In [18]:
FactWatchs= Table('FactWatchs', metadata, autoload_with=engine)

# Create a connection to the database
conn = engine.connect()



for i,watch in watchs_data.iterrows():
    # Sample data to insert
    data_to_insert = {
        "userID": watch["idUser"],
        "movieID": watch["movieID"],
        "rating": watch["rating"],
        "timestamp": watch["timestamp"],
    }

    try:
        # Insert data into the table
        ins = FactWatchs.insert().values(data_to_insert)
        conn.execute(ins)
        print(conn)

        # Commit the transaction
        conn.commit()
        print("se envió el commit a la base  de datos")

    except Exception as e:
        # Handle exceptions
        print(f"Error: {e}")
        # Rollback the transactio

# Close the connection
conn.close()

<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
Error: (mysql.connector.errors.DatabaseError) 1366 (HY000): Incorrect integer value: 'SFASF155' for column 'userID' at row 1
[SQL: INSERT INTO `FactWatchs` (`userID`, `movieID`, rating, timestamp) VALUES (%(userID)s, %(movieID)s, %(rating)s, %(timestamp)s)]
[parameters: {'userID': 'SFASF155', 'movieID': 80192187, 'rating': 0.3, 'timestamp': Timestamp('2024-01-26 16:18:36')}]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
Error: (mysql.connector.errors.DatabaseError) 1366 (HY000): Incorrect integer value: 'SFASF155' for column 'userID' at row 1
[SQL: INSERT INTO `FactWatchs` (`userID`, `movieID`, rating, timestamp) VALUES (%(userID)s, %(movieID)s, %(rating)s, %(timestamp)s)]
[parameters: {'userID': 'SFASF155', 'movieID': 80210920, 'rating': 2.9, 'timestamp': Timestamp('2024-01-23 19:21:08')}]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
Error: (mysql.connector.errors.DatabaseError) 1366 (HY000): Incorrect integer value: 'SFASF155' for column 'userID' at row 1
[SQL: INSERT INTO `FactWatchs` (`userID`, `movieID`, rating, timestamp) VALUES (%(userID)s, %(movieID)s, %(rating)s, %(timestamp)s)]
[parameters: {'userID': 'SFASF155', 'movieID': 81157374, 'rating': 1.3, 'timestamp': Timestamp('2024-01-16 02:50:11')}]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
Error: (mysql.connector.errors.DatabaseError) 1265 (01000): Data truncated for column 'userID' at row 1
[SQL: INSERT INTO `FactWatchs` (`userID`, `movieID`, rating, timestamp) VALUES (%(userID)s, %(movieID)s, %(rating)s, %(timestamp)s)]
[parameters: {'userID': '1251241G', 'movieID': 80192187, 'rating': 1.8, 'timestamp': Timestamp('2024-01-18 02:09:10')}]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
Error: (mysql.connector.errors.DatabaseError) 1265 (01000): Data truncated for column 'userID' at row 1
[SQL: INSERT INTO `FactWatchs` (`userID`, `movieID`, rating, timestamp) VALUES (%(userID)s, %(movieID)s, %(rating)s, %(timestamp)s)]
[parameters: {'userID': '1251241G', 'movieID': 80210920, 'rating': 0.7, 'timestamp': Timestamp('2024-02-05 08:57:33')}]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
Error: (mysql.connector.errors.DatabaseError) 1265 (01000): Data truncated for column 'userID' at row 1
[SQL: INSERT INTO `FactWatchs` (`userID`, `movieID`, rating, timestamp) VALUES (%(userID)s, %(movieID)s, %(rating)s, %(timestamp)s)]
[parameters: {'userID': '1251241G', 'movieID': 81157374, 'rating': 2.7, 'timestamp': Timestamp('2024-02-11 11:11:23')}]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0x146b54210>
se envió el commit a la base  de datos